/* Registration Container */
.registration-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items to the top to give more space below */
  height: 100vh; /* Full screen height */
  width: 100vw;  /* Full screen width */
  padding: 20px;
  box-sizing: border-box; /* To include padding in width/height calculation */
}

/* Registration Form */
.registration-form {
  background-color: #fff;
  padding: 30px 50px; /* Slightly smaller padding */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px; /* Increased max width for the form */
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box; /* To ensure padding is accounted for */
  text-align: center;
  margin-top: 50px; /* Move form down */
}

/* Logo Container */
.logo-container {
  margin-top: 20px; /* Space between logo and form fields */
  margin-bottom: 20px; /* Space between the logo and form fields */
}

/* Form Header */
.registration-form h2 {
  color: #3489db;
  font-size: 36px; /* Adjust font size for better visibility */
  margin-bottom: 10px; /* Reduced margin bottom to lower the title */
}

/* Form Inputs */
.registration-form input {
  width: 100%;
  padding: 15px; /* Increased padding for input fields */
  margin: 12px 0; /* Slightly more margin between inputs */
  font-size: 18px; /* Increased font size for a better feel */
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box; /* To include padding in width calculation */
}

/* Register Button */
.register-button {
  width: 100%;
  padding: 14px; /* Increased padding for the button */
  font-size: 20px; /* Slightly larger font size */
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 30px; /* Adjusted space between inputs and button */
  background-color: #3489db;
}

.register-button:hover {
  background-color: #2177b8; /* Darker blue for hover */
}

/* Login Redirect Section */
.login-redirect {
  text-align: center;
  margin-top: 20px; /* Adjusted space before the redirect section */
}

.login-redirect p {
  font-size: 16px;
  color: #777;
  margin-bottom: 10px; /* Slight spacing before the button */
}

.login-redirect button {
  padding: 12px 22px;
  font-size: 18px;
  border: none;
  background-color: #c0392b;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

.login-redirect button:hover {
  background-color: #c0392b;
}

/* Responsive Design */
@media (max-width: 768px) {
  .registration-form {
    width: 90%;
    padding: 25px; /* Slightly reduced padding for smaller screens */
  }

  .registration-form h2 {
    font-size: 26px; /* Slightly smaller title on mobile */
  }

  .register-button {
    font-size: 18px; /* Adjusted button font size on mobile */
  }

  .login-redirect button {
    font-size: 16px; /* Adjusted font size of the login button */
  }
}
